body{
  overflow-x: hidden;
}
.sidebar {
  width: 250px; /* Adjust width as needed */
  transition: width 0.3s;
}

.sidebar.hide {
  width: 0;
  overflow: hidden;
}

.sidebar.show {
  width: 250px; /* Adjust width as needed */
  padding-top: 3rem;
  height: 100vh !important;
}

.offcanvas-body{
  height: 90%;
}

/* Ensure content adjusts based on sidebar visibility */
.content {
  transition: margin-left 0.3s;
}

.sidebar-closed .content {
  margin-left: 0;
}

.sidebar-open .content {
  margin-left: 250px; /* Adjust this value to match the sidebar width */
}

.basic-bar {
  width: 100%;
}